<div class="layui-row layui-admin-mt10">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a><cite>我的资料</cite></a>
            </span>
</div>
<hr>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-tab layui-tab-card">
            <div class="layui-tab-content start">
                <div class="layui-tab-item layui-show">
                    <fieldset class="layui-elem-field">
                        <legend>修改个人基本资料</legend>
                        <div class="layui-field-box">
                            <form class="layui-form" action="">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">用户名</label>
                                    <div>
                                        <label class="layui-form-label layui-blue"
                                               style="text-align: left;">wuwenbin</label>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">昵称</label>
                                    <div class="layui-input-block">
                                        <input type="text" required lay-verify="required" placeholder="请输入标题"
                                               autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">账号密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="password" lay-verify="required"
                                               placeholder="请输入密码" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">6~16位密码长度</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">确认密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="password" required lay-verify="required"
                                               placeholder="请输入密码" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">请重复上面输入的</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">关联账号</label>
                                    <div class="layui-input-block">
                                        <label class="layui-form-label layui-blue"
                                               style="text-align: left;">765934806</label>
                                        <a href="javascript:void(0);" class="layui-btn layui-btn-sm"><i
                                                class="fa fa-qq"></i> 关联QQ</a>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">性别</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="sex" value="男" title="男">
                                        <input type="radio" name="sex" value="女" title="女" checked>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit lay-filter="formDemo">提交更改</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>