<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="/static/plugins/animate/animate.min.css">
    <link rel="stylesheet" href="/static/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="/static/plugins/treegrid/jquery.treegrid.css">
    <link rel="stylesheet" href="/static/css/home/style.css">
    <link rel="stylesheet" href="/static/css/admin/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/css/home/index.css">
    <link rel="icon" href="/static/images/favicon.ico">
    <title>${settings.title}</title>
</head>
<body class="animated fadeIn">
<!--顶部导航栏信息-->
<div class="header">
    <div class="layui-container">
        <div class="layui-row nav-header">
            <!--logo-->
            <div class="layui-col-xs9 layui-col-sm3 layui-col-md3  animated flipInX">
                <a class="logo" href="index.html">
                    <img src="/static/images/keji.png" style="height: 30px">
                    &nbsp;${settings.logo}
                </a>

            </div>
            <!--logo结束-->
            <!--index页面的右上方导航-->
            <div class="layui-col-md-offset2 layui-col-md7 layui-hide layui-show-lg-inline-block layui-show-md-inline-block nav-btn">
                <#if navDOS??>
                    <#list navDOS as navDO>
                        <#if navDO_index == 0>
                            <a href="${navDO.url}" class="active"><svg class="icon" aria-hidden="true"><use xlink:href="#${navDO.icon}"></use></svg>&nbsp;${navDO.name}</a>
                            <#else>
                                <a href="${navDO.url}"><svg class="icon" aria-hidden="true"><use xlink:href="#${navDO.icon}"></use></svg>&nbsp;${navDO.name}</a>
                        </#if>
                    </#list>
                </#if>
            </div>
            <!--右上方导航结束-->
        </div>
    </div>
</div>
<!--顶部导航栏结束-->
<hr class="header-hr">
<!--搜索、统计-->
<div class="layui-container">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><svg class="icon" aria-hidden="true"><use xlink:href="#${settings.searchIcon}"></use></svg>&nbsp;${settings.search}</label>
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="按Enter键搜索" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                ${settings.pageHeader}
            </div>
        </div>
    </form>
</div>
<!--搜索、统计部分结束-->
<!--正文部分-->
<div id="main-body" class="layui-container">
    <div class="layui-row layui-col-space10 animated fadeInUp">
        <div id="article-list" class="layui-col-md9">
            <div class="layui-collapse layui-panel layui-article">
                <div class="layui-colla-item">
                <#list articleList as article>
                    <div class="layui-colla-content layui-show layui-article">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend class="center-to-head">
                                <#if article.top = 1>
                                <span class="layui-badge layui-bg-cyan">置顶</span>
                                </#if>
                                <a href="blog.html">${article.title}</a>
                            </legend>
                            <div class="layui-field-box">
                                &nbsp;&nbsp;&nbsp;&nbsp;${article.content}
                                &nbsp;&nbsp;&nbsp;&nbsp;<a class="loading select-none" href="blog.html"> 阅读全文<i class="fa fa-angle-double-right"></i> </a>
                            </div>
                            <div class="operation">
                                <div class="tags">
                                <#list article.tagDOS as tag>
                                    <span class="layui-badge-rim"><i class="fa fa-tag"></i> <span>${tag.name}</span></span>
                                </#list>
                                </div>
                                <div class="info">
                                    <span class="views select-none"><svg class="icon" aria-hidden="true"><use xlink:href="#${settings.hotIcon}"></use></svg> ${article.pageviews!'无'}</span>
                                    <span class="datetime select-none"><svg class="icon" aria-hidden="true"><use xlink:href="#${settings.createTimeIcon}"></use></svg> ${article.gmtCreated?string('yyyy.MM.dd')}</span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </#list>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div id="index-affix-side">
                <#if titleList??>
                <div class="layui-tab layui-tab-card">
                    <ul class="layui-tab-title select-none">
                        <#list titleList as title>
                        <#if title_index = 0>
                            <li class="layui-this">${title}</li>
                        <#else/>
                        <li>${title}</li>
                        </#if>
                        </#list>
                    </ul>
                    <div class="layui-tab-content">
                        <#list contentList as content>
                        <#if content_index = 0>
                            <div class="layui-tab-item layui-show layui-text">${content.content}</div>
                        <#else/>
                            <div class="layui-tab-item">${content.content}</div>
                        </#if>
                        </#list>
                    </div>
                </div>

                <div class="layui-tab layui-tab-card layui-article-cate">
                    <div class="layui-tab-content select-none ">
                        <p class="title">文章分类</p>
                        <hr>
                        <ul id="categoryTree" class="ztree"></ul>
                    </div>
                </div>

                <div class="layui-tab layui-tab-card layui-master-recommend">
                    <div class="layui-tab-content select-none">
                        <p class="title">热门博客</p>
                        <hr>
                        <p><a href="index.html">深入JVM虚拟机</a>!</p>
                        <p><a href="index.html">Java8 In Action</a>!</p>
                        <p><a href="index.html">Spring实战</a>!</p>
                    </div>
                </div>

                <div class="layui-tab layui-tab-card layui-tags">
                    <div class="layui-tab-content select-none">
                        <p class="title">热门标签</p>
                        <hr>
                        <#if hotTag??>
                            <#list hotTag?keys as key>
                                <span class="layui-badge-rim">${key}(${hotTag[key]})</span>
                            </#list>
                        </#if>
                    </div>
                </div>
                </#if>
            </div>
        </div>
    </div>
</div>

<!--底部-->
<div class="layui-fluid bottom-nav">
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4 copyright">
            <p style="text-align: center;"><i class="fa fa-copyright"></i>&nbsp;2015-2018 赣ICP备15003721号-2 ☆ powered by
                <a href="//wuwenbin.me" target="_blank" style="color: #1E9FFF;">KejiBlog</a> in 2018 ver3.
            </p>
        </div>
    </div>
</div>
<!--底部结束-->

<script src="/static/plugins/layui/layui.js"></script>
<script src="/static/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="/static/plugins/hc-sticky/hc-sticky.min.js"></script>
<script type="text/javascript" language="javascript" src="${settings.iconUrl}"></script>
<script src="/static/js/admin/bootstrap-table.min.js"></script>
<script src="/static/plugins/treegrid/jquery.treegrid.min.js"></script>
<script src="/static/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
<script src="/static/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="/static/plugins/treegrid/jquery.treegrid.extension.js"></script>
<script src="/static/plugins/treegrid/tree.table.js"></script>
<script src="/static/js/home/index.js"></script>

<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>