<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/plugins/animate/animate.min.css">
    <link rel="stylesheet" href="/static/plugins/blog/css/style.css">
    <title>文章页</title>
</head>
<body class="animated fadeIn">
<!--顶部导航栏信息-->
<div class="header">
    <div class="layui-container">
        <div class="layui-row nav-header">
            <!--logo-->
            <div class="layui-col-xs9 layui-col-sm3 layui-col-md3  animated rubberBand">
                <a class="logo" href="//"><i class="fa fa-graduation-cap"></i>&nbsp;BMY's Note</a>
            </div>
            <!--logo结束-->
            <!--index页面的右上方导航-->
            <div class="layui-col-xs3 layui-col-sm-offset2 layui-col-sm7 layui-hide-md layui-hide-lg nav-btn">
                <a href="javascript:void(0);" id="side-nav"><i class="fa fa-navicon"></i> </a>
            </div>
            <div class="layui-col-md-offset2 layui-col-md7 layui-hide-sm layui-hide-xs layui-show-lg-inline-block layui-show-md-inline-block nav-btn">
                <a href="index.html"><i class="layui-icon">&#xe68e;</i> HOME</a>
                <a href="note.html"><i class="layui-icon">&#xe609;</i> NOTE</a>
                <a href="https://github.com/miyakowork" target="_blank"><i class="fa fa-github"
                                                                           style="font-size: 18px;"></i> GITHUB</a>
                <a href="mine.html" class="active"><i class="layui-icon">&#xe715;</i> MINE</a>
            </div>
            <!--右上方导航结束-->
            <ul class="layui-nav layui-nav-tree layui-nav-side">
                <li class="layui-nav-item"><a href="index.html"><i class="layui-icon">&#xe68e;</i>
                    HOME</a></li>
                <li class="layui-nav-item"><a href="note.html"><i class="layui-icon">&#xe609;</i> NOTE</a></li>
                <li class="layui-nav-item"><a href="https://github.com/miyakowork" target="_blank"><i
                        class="fa fa-github" style="font-size: 18px;"></i> GITHUB</a></li>
            </ul>
        </div>
    </div>
</div>
<!--顶部导航栏结束-->
<hr class="header-hr">
<!--统计、时间戳部分-->
<div class="layui-container">
    <blockquote class="layui-elem-quote">
       <span class="layui-breadcrumb">
        <a href="">网站首页</a>
        <a href="">博客文章</a>
        <a><cite>关于网站・博客・关于我</cite></a>
     </span>
    </blockquote>
</div>
<!--统计、时间戳或部分结束-->
<!--正文部分-->
<div id="mine-body" class="layui-container">
    <div class="layui-tab layui-tab-brief" lay-filter="mine-tab">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="fa fa-chrome"></i> 网站</li>
            <li><i class="fa fa-book"></i> 博客</li>
            <li><i class="fa fa-user"></i> 我</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">内容1</div>
            <div class="layui-tab-item">内容2</div>
            <div class="layui-tab-item">内容3</div>
        </div>
    </div>
</div>
<!--正文部分结束-->
<!--底部-->
<div class="layui-fluid bottom-nav">
    <div class="layui-row">
        <div class="layui-col-lg4 layui-col-lg-offset4 copyright">
            <p style="text-align: center;"><i class="fa fa-copyright"></i>&nbsp;2015-2018 赣ICP备15003721号-2 ☆
                designed by Wuwenbin in 2018 ver3.
            </p>
        </div>
    </div>
</div>
<!--底部结束-->

<script src="/static/plugins/layui/layui.js"></script>
<script src="/static/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="/static/plugins/hc-sticky/hc-sticky.min.js"></script>
<script src="/static/js/home/index.js"></script>
<script src="/static/js/home/svg.js"></script>

<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>