server:
  port: 8082

logging:
  level: debug

spring:
  # jackson时间格式化
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/blog_keji?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC&useSSL=false
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource

  redis:
    host: 127.0.0.1
    password:

mybatis:
  type-aliases-package: com.keji.blog.dataobject
  mapper-locations: classpath:mappers/*.xml
