<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>基于Spring、MyBatis开发的系统</li>
            <li>目的之初，是为了开发一个系统，搭起一个骨架，然后在这个骨架上不断整合各种技术里面，已达到提升自己的目的。</li>
            <li>目前已整合spring、mybatis、shiro、quartz。前端vue.js、bootstrap等</li>
            <li>项目参考了人人权限系统:<a href="https://gitee.com/babaio/renren-security/tree/renren-security-boot" target="_blank">https://gitee.com/babaio/renren-security/tree/renren-security-boot</a></li>
        </ul>
    </div>
</div>
</body>
</html>