<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keji.blog.dao.BlogHitsMapper" >
  <resultMap id="BaseResultMap" type="com.keji.blog.dataobject.BlogHits" >
    <id column="hits_id" property="hitsId" jdbcType="BIGINT" />
    <result column="article_id" property="articleId" jdbcType="BIGINT" />
    <result column="hit_count" property="hitCount" jdbcType="BIGINT" />
    <result column="hits_created" property="hitsCreated" jdbcType="TIMESTAMP" />
    <result column="hits_updated" property="hitsUpdated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    hits_id, article_id, hit_count, hits_created, hits_updated
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.keji.blog.dataobject.BlogHitsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog_hits
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from blog_hits
    where hits_id = #{hitsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from blog_hits
    where hits_id = #{hitsId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.keji.blog.dataobject.BlogHitsExample" >
    delete from blog_hits
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.keji.blog.dataobject.BlogHits" >
    insert into blog_hits (hits_id, article_id, hit_count, 
      hits_created, hits_updated)
    values (#{hitsId,jdbcType=BIGINT}, #{articleId,jdbcType=BIGINT}, #{hitCount,jdbcType=BIGINT}, 
      #{hitsCreated,jdbcType=TIMESTAMP}, #{hitsUpdated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.keji.blog.dataobject.BlogHits" >
    insert into blog_hits
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hitsId != null" >
        hits_id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="hitCount != null" >
        hit_count,
      </if>
      <if test="hitsCreated != null" >
        hits_created,
      </if>
      <if test="hitsUpdated != null" >
        hits_updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hitsId != null" >
        #{hitsId,jdbcType=BIGINT},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="hitCount != null" >
        #{hitCount,jdbcType=BIGINT},
      </if>
      <if test="hitsCreated != null" >
        #{hitsCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="hitsUpdated != null" >
        #{hitsUpdated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.keji.blog.dataobject.BlogHitsExample" resultType="java.lang.Integer" >
    select count(*) from blog_hits
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update blog_hits
    <set >
      <if test="record.hitsId != null" >
        hits_id = #{record.hitsId,jdbcType=BIGINT},
      </if>
      <if test="record.articleId != null" >
        article_id = #{record.articleId,jdbcType=BIGINT},
      </if>
      <if test="record.hitCount != null" >
        hit_count = #{record.hitCount,jdbcType=BIGINT},
      </if>
      <if test="record.hitsCreated != null" >
        hits_created = #{record.hitsCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hitsUpdated != null" >
        hits_updated = #{record.hitsUpdated,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update blog_hits
    set hits_id = #{record.hitsId,jdbcType=BIGINT},
      article_id = #{record.articleId,jdbcType=BIGINT},
      hit_count = #{record.hitCount,jdbcType=BIGINT},
      hits_created = #{record.hitsCreated,jdbcType=TIMESTAMP},
      hits_updated = #{record.hitsUpdated,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.keji.blog.dataobject.BlogHits" >
    update blog_hits
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="hitCount != null" >
        hit_count = #{hitCount,jdbcType=BIGINT},
      </if>
      <if test="hitsCreated != null" >
        hits_created = #{hitsCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="hitsUpdated != null" >
        hits_updated = #{hitsUpdated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where hits_id = #{hitsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.keji.blog.dataobject.BlogHits" >
    update blog_hits
    set article_id = #{articleId,jdbcType=BIGINT},
      hit_count = #{hitCount,jdbcType=BIGINT},
      hits_created = #{hitsCreated,jdbcType=TIMESTAMP},
      hits_updated = #{hitsUpdated,jdbcType=TIMESTAMP}
    where hits_id = #{hitsId,jdbcType=BIGINT}
  </update>
</mapper>