<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keji.blog.dao.ResourceDAO" >
    <resultMap id="BaseResultMap" type="com.keji.blog.dataobject.ResourceDO" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <id column="parent_id" property="parentId" jdbcType="BIGINT" />
        <result column="resource_code" property="resourceCode" jdbcType="VARCHAR" />
        <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
        <result column="resource_url" property="resourceUrl" jdbcType="VARCHAR" />
        <result column="permission" property="permission" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="order_num" property="orderNum" jdbcType="TINYINT" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    </resultMap>
    <resultMap id="ResourceBOResultMap" type="com.keji.blog.bo.ResourceBO" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <id column="parent_id" property="parentId" jdbcType="BIGINT" />
        <result column="resource_code" property="resourceCode" jdbcType="VARCHAR" />
        <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
        <result column="resource_url" property="resourceUrl" jdbcType="VARCHAR" />
        <result column="permission" property="permission" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="order_num" property="orderNum" jdbcType="TINYINT" />
        <result column="status" property="status" jdbcType="TINYINT" />
    </resultMap>


    <sql id="Base_Column_List" >
        id,parent_id,resource_name,resource_url,permission,type,icon,order_num,status,gmt_created,gmt_modified
    </sql>

    <insert id="insert" parameterType="com.keji.blog.dataobject.ResourceDO" >
        insert into resource (
            id,parent_id,resource_name,
            resource_url,permission,type,icon,order_num,status, gmt_created,
            gmt_modified)
        values (
            #{id,jdbcType=BIGINT},#{parent_id,jdbcType=BIGINT}, #{resourceName,jdbcType=VARCHAR},
            #{resourceUrl,jdbcType=VARCHAR},#{permission,jdbcType=VARCHAR},#{type,jdbcType=TINYINT},#{icon,jdbcType=VARCHAR},#{orderNum,jdbcType=TINYINT},#{status,jdbcType=TINYINT}, now(),now())
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from resource
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <update id="updateByPrimaryKeySelective" parameterType="com.keji.blog.dataobject.ResourceDO" >
        update resource
        <set >
            <if test="resourceName != null" >
                resource_name = #{resourceName,jdbcType=VARCHAR},
            </if>
            <if test="resourceUrl != null" >
                resource_Url = #{resourceUrl,jdbcType=VARCHAR},
            </if>
            <if test="permission != null" >
                permission = #{permission,jdbcType=VARCHAR},
            </if>
            <if test="icon != null" >
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="order_num != null" >
                order_num = #{order_num,jdbcType=TINYINT},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            gmt_modified = now()
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="totalCount" resultType="java.lang.Integer" >
        select totalCount(*) from resource
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from resource
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.keji.blog.dataobject.ResourceDO" >
        select
        <include refid="Base_Column_List" />
        from resource
        <where>
            <if test="permission != null">
                AND permission = #{permission,jdbcType=VARCHAR}
            </if>
            <if test="resourceName != null">
                AND resource_name = #{resourceName,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.keji.blog.dataobject.ResourceDO" >
        select
        <include refid="Base_Column_List" />
        from resource
        <where>
            <if test="permission != null">
                AND permission = #{permission,jdbcType=VARCHAR}
            </if>
            <if test="parentId != null">
                AND parent_id = #{parentId,jdbcType=BIGINT}
            </if>
            <if test="resourceName != null">
                AND resource_name = #{resourceName,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <select id="selectByRoleId" resultMap="BaseResultMap" parameterType="com.keji.blog.dataobject.ResourceDO" >
        select
        <include refid="Base_Column_List" />
        from resource a
        WHERE EXISTS (
        SELECT resource_id from role_resource_rel b WHERE role_id = #{roleId,jdbcType=BIGINT} AND a.id = b.resource_id
        )
    </select>

    <select id="selectByParentId" resultMap="ResourceBOResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from resource
        WHERE parent_id = #{parentId,jdbcType=BIGINT}
        AND status = 0
    </select>

</mapper>