<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keji.blog.dao.RoleResourceRelDAO" >
    <resultMap id="BaseResultMap" type="com.keji.blog.dataobject.RoleResourceRelDO" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="role_id" property="roleId" jdbcType="BIGINT" />
        <result column="resource_id" property="resourceId" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id,role_id,resource_id,status,gmt_created,gmt_modified
    </sql>

    <insert id="insert" parameterType="com.keji.blog.dataobject.RoleDO" >
        insert into role_resource_rel (
            id, role_id,resource_id,
            status, gmt_created,
            gmt_modified)
        values (
            #{id,jdbcType=BIGINT}, #{roleId,jdbcType=VARCHAR}, #{resourceId,jdbcType=VARCHAR},
            0, now(),now())
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from role_resource_rel
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByRoleId" parameterType="java.lang.Long" >
        delete from role_resource_rel
        where role_id = #{roleId,jdbcType=BIGINT}
    </delete>

    <update id="updateByPrimaryKeySelective" parameterType="com.keji.blog.dataobject.RoleDO" >
        update role_resource_rel
        <set >
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            gmt_modified = now()
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="totalCount" resultType="java.lang.Integer" >
        select totalCount(*) from role_resource_rel
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from role_resource_rel
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.keji.blog.dataobject.RoleResourceRelDO" >
        select
        <include refid="Base_Column_List" />
        from role_resource_rel
        <where>
            <if test="roleId != null">
                AND role_id = #{roleId,jdbcType=BIGINT}
            </if>
            <if test="resourceId != null">
                AND resource_id = #{resourceId,jdbcType=BIGINT}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=TINYINT}
            </if>
        </where>
    </select>

</mapper>