<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keji.blog.dao.ScheduleJobDAO">
    <resultMap id="BaseResultMap" type="com.keji.blog.dataobject.ScheduleJobDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="bean_name" property="beanName" jdbcType="VARCHAR"/>
        <result column="method_name" property="methodName" jdbcType="VARCHAR"/>
        <result column="params" property="params" jdbcType="VARCHAR"/>
        <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,bean_name,method_name,params,cron_expression,remark,
        status,gmt_created,gmt_modified
    </sql>


    <insert id="insert" parameterType="com.keji.blog.dataobject.ScheduleJobDO" useGeneratedKeys="true" keyProperty="id">
        insert into schedule_job (
            id, bean_name,method_name,params,
            cron_expression, remark, status, gmt_created,
            gmt_modified)
        values (
            #{id,jdbcType=BIGINT}, #{beanName,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR},#{params,jdbcType=VARCHAR},
            #{cronExpression,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, now(),
            now()
        )
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from schedule_job
        where id = #{id,jdbcType=BIGINT}
    </delete>


    <update id="updateByPrimaryKeySelective" parameterType="com.keji.blog.dataobject.ScheduleJobDO">
        update schedule_job
        <set>
            <if test="beanName != null">
                bean_name = #{beanName,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                method_name = #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                params = #{params,jdbcType=VARCHAR},
            </if>
            <if test="cronExpression != null">
                cron_expression = #{cronExpression,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            gmt_modified = now()
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from schedule_job
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.keji.blog.dataobject.ScheduleJobDO">
        select
        <include refid="Base_Column_List"/>
        from schedule_job
        <where>
            <if test="beanName != null">
                AND bean_name LIKE CONCAT(CONCAT('%', #{beanName}), '%')
            </if>
        </where>
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.keji.blog.dataobject.ScheduleJobDO">
        select
        <include refid="Base_Column_List"/>
        from schedule_job
        <where>
            <if test="beanName != null">
                AND bean_name LIKE CONCAT(CONCAT('%', #{beanName}), '%')
            </if>
        </where>
    </select>

    <select id="totalCount" resultType="java.lang.Integer">
        select totalCount(*) from schedule_job
    </select>

</mapper>