<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keji.blog.dao.UserDAO" >
    <resultMap id="BaseResultMap" type="com.keji.blog.dataobject.UserDO" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="question" property="question" jdbcType="VARCHAR" />
        <result column="answer" property="answer" jdbcType="VARCHAR" />
        <result column="picture" property="picture" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
        <result column="series_number" property="seriesNumber" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id,name,email,phone,password,question,answer,picture,
        status,gmt_created,gmt_modified,ip,series_number
    </sql>


    <insert id="insert" parameterType="com.keji.blog.dataobject.UserDO" >
        insert into user (id, name,email,phone,
        password, question, answer,
        picture, status, gmt_created,
        gmt_modified, ip,series_number)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR}
        #{password,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR},
        #{picture,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{gmtCreated,jdbcType=TIMESTAMP},
        #{gmtModified,jdbcType=TIMESTAMP}, #{ip,jdbcType=VARCHAR},#{seriesNumber,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from user
        where id = #{id,jdbcType=BIGINT}
    </delete>


    <update id="updateByPrimaryKeySelective" parameterType="com.keji.blog.dataobject.UserDO" >
        update user
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="question != null" >
                question = #{userQuestion,jdbcType=VARCHAR},
            </if>
            <if test="answer != null" >
                answer = #{userAnswer,jdbcType=VARCHAR},
            </if>
            <if test="picture != null" >
                picture = #{userPicture,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{userStatus,jdbcType=TINYINT},
            </if>
            <if test="gmtCreated != null" >
                gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
            </if>
            <if test="ip != null" >
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="seriesNumber != null" >
                series_number = #{seriesNumber,jdbcType=VARCHAR},
            </if>
              gmt_modified = now()
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.keji.blog.dataobject.UserDO" >
        select
        <include refid="Base_Column_List" />
        from user
        <where>
            <if test="email != null">
                AND email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                AND password = #{password,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.keji.blog.dataobject.UserDO" >
        select
        <include refid="Base_Column_List" />
        from user
        <where>
            <if test="email != null">
                AND email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                AND password = #{password,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="totalCount" resultType="java.lang.Integer" >
        select totalCount(*) from user
    </select>

    <select id="selectUserPermission" parameterType="java.lang.Long" resultType="com.keji.blog.dataobject.ResourceDO">
        SELECT r.id,r.parent_id,r.resource_name,r.resource_url,r.permission,r.type,r.icon,
                r.order_num,r.status,r.gmt_created,r.gmt_modified
        FROM user_role_rel urr
		LEFT JOIN role_resource_rel rrr ON urr.role_id = rrr.role_id
		LEFT JOIN resource r ON rrr.resource_id = r.id
        WHERE user_id = #{userId,jdbcType=BIGINT}
    </select>
</mapper>