<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keji.blog.dao.UserRoleRelDAO" >
    <resultMap id="BaseResultMap" type="com.keji.blog.dataobject.UserRoleRelDO" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <id column="user_id" property="userId" jdbcType="BIGINT" />
        <id column="role_id" property="roleId" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id,user_id,role_id,status,gmt_created,gmt_modified
    </sql>

    <insert id="insert" parameterType="com.keji.blog.dataobject.UserRoleRelDO">
        insert into user_role_rel (
        role_id,user_id,
        status, gmt_created,
        gmt_modified)
        values (
        #{roleId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
        0, now(),now())
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from user_role_rel
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <update id="updateByPrimaryKeySelective" parameterType="com.keji.blog.dataobject.UserRoleRelDO" >
        update user_role_rel
        <set >
            <if test="roleId != null" >
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            gmt_modified = now()
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from user_role_rel
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.keji.blog.dataobject.UserRoleRelDO" >
        select
        <include refid="Base_Column_List" />
        from user_role_rel
        <where>
            <if test="userId != null">
                AND user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="roleId != null">
                AND role_id = #{roleId,jdbcType=BIGINT}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <select id="totalCount" resultType="java.lang.Integer" >
        select totalCount(*) from user_role_rel
    </select>

</mapper>